<html>
<head>
  <title>Deprem Haritasi</title>
  <link rel="stylesheet" href="https://bootswatch.com/lumen/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
  </script>
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBX-YUSZCJWmMMar1czEVZ2aIG6r8vTh_w&callback=initMap">
  </script>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Deprem Haritasi</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Harita</a></li>
        <li><a href="/about">Hakkinda</a></li>
      </ul>
    </div>
  </nav>
  <div class='container'>
    <div class="jumbotron">
  <h1 class="display-3">Deprem Haritası</h1>
  <p class="lead">Bu site içiresinde bulunan veriler Boğaziçi Üniversitesi Kandilli Rasathanesi ve Deprem Araştırma Enstitüsü Bölgesel Deprem-Tsunami İzleme Ve Değerlendirme Merkezi'den alınmıştır. </p>
  <hr class="my-4">
  <p>Henüz yeni veri toplanmaya başladığım için hali hazırda son zamanlarda olan 2000 depremin verisi bulunmaktadır. Veritabanı 15 günde bir güncellenecektir. </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="http://www.koeri.boun.edu.tr/scripts/lst9.asp" role="button">Kaynak</a>
  </p>
</div>
  </div>
</body>
</html>
