<% include header %>

  <div class='container'>
    <div class="jumbotron">
  <h1 class="display-3">Deprem Haritası</h1>
  <p class="lead">Bu site içiresinde bulunan veriler Boğaziçi Üniversitesi Kandilli Rasathanesi ve Deprem Araştırma Enstitüsü Bölgesel Deprem-Tsunami İzleme Ve Değerlendirme Merkezi'den alınmıştır. </p>
  <hr class="my-4">
  <p>Henüz yeni veri toplanmaya başladığım için hali hazırda son zamanlarda olan 2000 depremin verisi bulunmaktadır. Veritabanı 15 günde bir güncellenecektir. </p>
  <div class="btn btn-group">
      <a class="btn btn-primary btn-lg" href="http://www.koeri.boun.edu.tr/scripts/lst9.asp" role="button">Kaynak</a>
      <a class="btn btn-primary btn-lg info" href="/map" role="button">Harita</a>
  </div>
</div>
  </div>
<% include footer %>